[submodule "5kurs-neural-net"]
	path = 5kurs-neural-net
	url = https://github.com/MakarovIlya944/5kurs-neural-net.git
	branch = gravi
[submodule "5kurs-continous"]
	path = 5kurs-continous
	url = https://github.com/MakarovIlya944/5kurs-continous.git
	branch = gravi
