{
  "printWidth": 140,
  "proseWrap": "never",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 170
      }
    }
  ]
}
